//
   Created by instancetype on 6/20/14.

html
    head
        block title
        block scripts
            script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.js")
    body
        block content
        include footer