//
   Created by instancetype on 6/20/14.

h3.contacts-header My Contacts

if contacts.length
    each contact in contacts
        - var fullName = contact.firstName + ' ' + contact.lastName
        .contact-box
            p fullName
            if contact.isEditable
                p: a(href='/edit/'+contact.id) Edit Record
            p
                case contact.status
                    when 'Active'
                        strong User is active
                    when 'Inactive'
                        em User is inactive
                    when 'Pending'
                        | User has a pending invitation
else
    p You currently do not have any contacts