//
    Created by instancetype on 6/20/14.
- messages.forEach(function(message) {
    p= message
- })

//
    Shows jade syntax for looping
each message in messages
    p= message

//
    Conditionals
- var n = Math.round(Math.random() * 1) + 1
    unless n === 1
        script
            alert('You win!')